<div class="login-block">
  <div style="margin-top: 90px;" class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Şifre Oluşturucu</h2>
        <form class="login-form">
          <div class="form-group">
            <label class="text-uppercase">Şifre uzunluğu</label>
            <input
              class="form-control"
              type="text"
              (change)="modifyLength($event)"
            />
          </div>

          <div class="form-group">
            <div class="form-check">
                <label class="wtext">Alfabeyi Kullan</label>
                <input
                  class="form-check-input"
                  (change)="modifyLetters()"
                  type="checkbox"
                />
              </div>
          </div>
          <div class="form-check">
            <label class="wtext">Sayıları Kullan</label>
            <input
              class="form-check-input"
              (change)="modifyNumbers()"
              type="checkbox"
            />
          </div>
          <div class="form-check">
            <label class="wtext">Sembolleri Kullan </label>
            <input
              class="form-check-input"
              (change)="modifySymbols()"
              type="checkbox"
            />
          </div>

          <div class="form-group">
            <label class="text-uppercase">Message</label>
            <textarea
            [value]="password"
              class="form-control"
              formControlName="message"
              rows="3"
            ></textarea>
          </div>
          <div class="">
          <button

          class="mt-2 btn btn-login float-right"
          [disabled]="
            !(
              length &&
              (includeLetters || includeNumbers || includeSymbols)
            )
          "
          (click)="buttonClick();$event.preventDefault();"
        >
          Oluştur
        </button>
    </div>
        </form>
      </div>
     
      <div class="col-md-8 banner-sec">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>This is Heaven</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
