<h1>Şifre oluşturucu</h1>

<div>
  <label>Şifre uzunluğu</label>
  <input type="text" (change)="modifyLength($event)" />
</div>

<div>
  <label>Alfabeyi Kullan</label>
  <input (change)="modifyLetters()" type="checkbox" />
</div>

<div>
  <label>Sayıları Kullan</label>
  <input (change)="modifyNumbers" type="checkbox" />
</div>

<div>
  <label>Sembolleri Kullan </label>
  <input (change)="modifySymbols" type="checkbox" />
</div>

<div>
  <button (click)="buttonClick()">oluşturucu</button>
</div>

<div>
  <label>Şifreniz </label>
  <input />
</div>
